footer(role="contentinfo" id="wb-info" class="visible-sm visible-md visible-lg wb-navcurr")
  .container
    .row(role="navigation")
      h2
        | About this site
      section(class="col-sm-3")
        h3
          | Contact us
        ul(class="list-unstyled")
          li
            a(href="https://github.com/sylus/nodejs-harvester/issues/new")
              | Questions or comments?
      section(class="col-sm-3")
        h3
          | About
        ul(class="list-unstyled")
          li
            a(href="/index-en.html#about")
              | About the Web Experience Toolkit
          li
            a(rel="external" href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp")
              | About the Web Standards
      section(class="col-sm-3")
        h3
          | News
        ul(class="list-unstyled")
          li
            a(href="https://github.com/sylus/nodejs-harvester/pulse")
              | Recent project activity
          li
            a(href="https://github.com/sylus/nodejs-harvester/graphs")
              | Project statistics
      section(class="col-sm-3")
        h3
          | Stay connected
        ul(class="list-unstyled")
          li
            a(rel="external" href="https://twitter.com/WebExpToolkit")
              | Twitter
