footer(role="contentinfo" id="wb-info")
    nav(role="navigation" class="container wb-navcurr")
        h2(class="wb-inv")
          | About government
        section(class="col-sm-3")
          h3
            | Contact us
          ul(class="list-unstyled")
            li
              a(href="https://github.com/sylus/nodejs-harvester/issues/new")
                | Questions or comments?
        section(class="col-sm-3")
          h3
            | About
          ul(class="list-unstyled")
            li
              a(href="/index-en.html#about")
                | About the Web Experience Toolkit
            li
              a(rel="external" href="http://www.tbs-sct.gc.ca/ws-nw/index-eng.asp")
                | About the Web Standards
        section(class="col-sm-3")
          h3
            | News
          ul(class="list-unstyled")
            li
              a(href="https://github.com/sylus/nodejs-harvester/pulse")
                | Recent project activity
            li
              a(href="https://github.com/sylus/nodejs-harvester/graphs")
                | Project statistics
        section(class="col-sm-3")
          h3
            | Stay connected
          ul(class="list-unstyled")
            li
              a(rel="external" href="https://twitter.com/WebExpToolkit")
                | Twitter

    .brand
      .container
        .row
          nav(class="col-md-10 ftr-urlt-lnk")
              h2(class="wb-inv")
                | About this site
              ul
                li
                  a(href="https://github.com/sylus/nodejs-harvester/issues/new")
                    | Feedback
                li
                  a(href="https://github.com/sylus/nodejs-harvester/graphs")
                    | Social media
          div(class="col-xs-6 visible-sm visible-xs tofpg")
              a(href="#wb-cont")
                | Top of Page
                <span class="glyphicon glyphicon-chevron-up"></span>
          div(class="col-xs-6 col-md-2 text-right")
              object(type="image/svg+xml" tabindex="-1" role="img" data="/components/theme-gcweb/assets/wmms-blk.svg" aria-label="Symbol of the Government of Canada")
