<!--[if gte IE 9 | !IE ]><!-->
script(src="/components/jquery/dist/jquery.min.js")
script(src="/components/wet-boew/js/wet-boew.min.js")
<!--<![endif]-->
<!--[if lt IE 9]>
script(src="/components/wet-boew/js/ie8-wet-boew2.min.js")
<![endif]-->

if ui.theme === 'gcweb'
  script(src="/components/theme-gcweb/js/theme.min.js")
