extends ../layout

block content
  div.jumbotron.mrgn-tp-lg
    h1
      | REST Routes&nbsp;
      span(class="glyphicon glyphicon-cloud-download")
  #routes.mrgn-bttm-lg
    .row.wb-eqht
      .col-md-6
        .panel.panel-default.hght-inhrt
          .panel-heading
            h2(class="panel-title") Custom Types (YAML)
          .panel-body
            for rest in restful.get
              if rest.path.indexOf('media') == -1 && rest.path.indexOf('table') == -1 && rest.path.indexOf('link') == -1 && rest.path.indexOf('join') == -1 && rest.path.indexOf('architecture') == -1 && rest.path.indexOf('config') == -1 && rest.path.indexOf('lookup') == -1 && rest.path != '/'
                include rest
      .col-md-6
        .panel.panel-default.hght-inhrt
          .panel-heading
            h2(class="panel-title") Media
          .panel-body
            for rest in restful.get
              if rest.path.indexOf('media') >= 0
                  include rest
    .row.wb-eqht
      .col-md-6
        .panel.panel-default.hght-inhrt
          .panel-heading
            h2(class="panel-title") Language
          .panel-body
            for rest in restful.get
              if rest.path.indexOf('join') >= 0 || rest.path.indexOf('lookup') >= 0
                  include rest
      .col-md-6
        .panel.panel-default.hght-inhrt
          .panel-heading
            h2(class="panel-title") Links
          .panel-body
            for rest in restful.get
              if rest.path.indexOf('link') >= 0
                  include rest
      .col-md-6
        .panel.panel-default.hght-inhrt
          .panel-heading
            h2(class="panel-title") Table
          .panel-body
            for rest in restful.get
              if rest.path.indexOf('table') >= 0
                  include rest
