.rest
  section
    ul(class="list-unstyled")
      li
        if rest.path.indexOf(':id') == -1
            a(href=`${rest.path}` class="text-primary") #{rest.path}
        else
          span(class="text-muted")
            | #{rest.path}
